@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

h1 {
  font-family: "SEGA LOGO FONT";
  font-weight: 200;
  color: #0ccac4;
}

.delete-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
  cursor: pointer;
}
.edit-icon {
  position: absolute;
  left: 10px;
  top: 10px;

  cursor: pointer;
}
